<!-- Wappler include head-page="layouts/backoffice" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="colaboradores" appConnect="local" components="{dmxBootstrap5Modal:{},dmxValidator:{},dmxBootstrap5TableGenerator:{},dmxDataTraversal:{},dmxPreloader:{},dmxAnimateCSS:{},dmxFormatter:{}}" -->
<dmx-preloader id="carregamento" spinner="cubeGrid" bgcolor="#0c0c0c" color="#3699FF" size="56"></dmx-preloader>
<dmx-data-detail id="data_detail_colaborador" dmx-bind:data="listagem_usuarios.data.query_colaboradores" key="id_usuario"></dmx-data-detail>
<dmx-serverconnect id="listagem_usuarios" url="/api/negocios/colaboradores/listar_colaboradores"></dmx-serverconnect>
<dmx-data-view id="colaboradores_ativos" dmx-bind:data="listagem_usuarios.data.query_colaboradores" filter="status_usuario == 'Ativo'"></dmx-data-view>
<meta name="ac:route" content="/security/backoffice/colaboradores">

<!-- Modal Criar -->
<div class="modal" id="criar_modal_colaborador" is="dmx-bs5-modal" tabindex="-1" data-bs-theme="dark" nocloseonclick="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content sp-container border-0">
            <div class="modal-header">
                <h5 class="modal-title text-white">Novo Colaborador</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" dmx-on:click="criar_usuario.reset()"></button>
            </div>
            <div class="modal-body text-white">
                <form id="criar_usuario" is="dmx-serverconnect-form" method="post" action="/api/negocios/colaboradores/criar-colaborador" dmx-on:success="listagem_usuarios.load({});criar_modal_colaborador.hide();criar_usuario.reset()">
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-3"> <label for="nome_completo" class="form-label">Nome completo</label>
                                <input type="text" class="form-control" id="nome_completo" name="nome_completo" aria-describedby="input2_help" required="" data-msg-required="Este é um campo obrigatório!">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3"> <label for="nome_tratamento" class="form-label">Nome de tratamento</label>
                                <input type="text" class="form-control" id="nome_tratamento" name="nome_tratamento" aria-describedby="input2_help1" required="" data-msg-required="Este é um campo obrigatório!">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-3"> <label for="email_usuario" class="form-label">E-mail</label>
                                <input type="email" class="form-control" id="email_usuario" name="email_usuario" aria-describedby="input2_help2" required="" data-msg-required="Este é um campo obrigatório!" data-rule-email="" data-msg-email="Insira um e-mail válido." dmx-class:is-invalid="criar_usuario.lastError.response.form.email">
                                <div class="invalid-feedback" dmx-show="criar_usuario.lastError.response.form.email">
                                    {{criar_usuario.lastError.response.form.email}}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3"> <label for="input5" class="form-label">Função</label>
                                <select id="funcao_usuario" class="form-select" name="funcao_usuario" required="" data-msg-required="Este é um campo obrigatório!">
                                    <option value="">Selecione uma opção</option>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Editor">Editor</option>
                                    <option value="Suporte">Suporte</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" id="id_empresa_atual" name="id_empresa_atual" aria-describedby="input1_help" placeholder="Enter some text" dmx-bind:value="meuusuario.data.dados_usuario.ref_id_empresa_ativa">
                    <div class="form-group mb-3"> <button id="btn3" class="btn btn-primary" type="submit">Cadastrar</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar -->
<div class="modal" id="editar_modal_colaborador" is="dmx-bs5-modal" tabindex="-1" data-bs-theme="dark" nocloseonclick="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content sp-container border-0">
            <div class="modal-header border-bottom border-secondary">
                <h5 class="modal-title text-white">Atualizar Colaborador</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" dmx-on:click="criar_usuario.reset()"></button>
            </div>
            <div class="modal-body text-white">
                <form id="editar_usuario" is="dmx-serverconnect-form" method="post" action="/api/negocios/colaboradores/atualizar-colaborador" dmx-on:error="alertas.danger('Ocorreu um erro.')" dmx-on:success="listagem_usuarios.load({});editar_modal_colaborador.hide();editar_usuario.reset()">
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-3"> <label for="edit_nome_completo" class="form-label">Nome completo</label>
                                <input type="text" class="form-control" id="edit_nome_completo" name="edit_nome_completo" aria-describedby="input2_help" required="" data-msg-required="Este é um campo obrigatório!" dmx-bind:value="data_detail_colaborador.data.nome_completo">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3"> <label for="edit_nome_tratamento" class="form-label">Nome de tratamento</label>
                                <input type="text" class="form-control" id="edit_nome_tratamento" name="edit_nome_tratamento" aria-describedby="input2_help1" required="" data-msg-required="Este é um campo obrigatório!" dmx-bind:value="data_detail_colaborador.data.nome_tratamento">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-3"> <label for="edit_email_usuario" class="form-label">E-mail</label>
                                <input type="email" class="form-control" id="edit_email_usuario" name="edit_email_usuario" aria-describedby="input2_help2" required="" data-msg-required="Este é um campo obrigatório!" data-rule-email="" data-msg-email="Insira um e-mail válido." dmx-bind:value="data_detail_colaborador.data.email">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3"> <label for="input5" class="form-label">Função</label>
                                <select id="edit_funcao_usuario" class="form-select" name="edit_funcao_usuario" required="" data-msg-required="Este é um campo obrigatório!" dmx-bind:value="data_detail_colaborador.data.cargo_usuario_empresa">
                                    <option value="">Selecione uma opção</option>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Editor">Editor</option>
                                    <option value="Suporte">Suporte</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3"> <label for="input5" class="form-label">Status</label>
                                <select id="edit_status_usuario" class="form-select" name="edit_status_usuario" required="" data-msg-required="Este é um campo obrigatório!" dmx-bind:value="data_detail_colaborador.data.status_usuario">
                                    <option value="">Selecione uma opção</option>
                                    <option value="Ativo">Ativo</option>
                                    <option value="Inativo">Inativo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" id="edit_id_usuario_atual" name="edit_id_usuario_atual" aria-describedby="input1_help" placeholder="Enter some text" dmx-bind:value="data_detail_colaborador.data.id_usuario" type="hidden">
                    <input class="form-control" id="edit_id_empresa_atual" name="edit_id_empresa_atual" aria-describedby="input1_help" placeholder="Enter some text" dmx-bind:value="meuusuario.data.dados_usuario.ref_id_empresa_ativa" type="hidden">
                    <div class="form-group mb-3"> <button id="btn2" class="btn btn-primary" type="submit">Atualizar</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

<!-- Cabeçalho da Página -->
<div class="d-flex flex-row align-items-center justify-content-between mb-4">
    <div class="d-flex flex-column justify-content-start align-items-start">
        <h5 class="m-0 fw-bolder">Colaboradores</h5>
        <p class="sub-titulo mt-1 mb-0">Gestão de contas e acessos - Colaboradores do plano atual: {{plano_empresa.data.query_plano.limite_colaboradores_por_polo}}</p>
    </div>
    <div class="d-flex align-items-center">
        <button id="btn1" class="btn btn-primary" data-bs-target="#criar_modal_colaborador" dmx-on:click="run({condition:{outputType:'boolean',if:`colaboradores_ativos.items==plano_empresa.data.query_plano.limite_colaboradores_por_polo`,then:{steps:{run:{outputType:'text',action:`alertas.warning(\'Você já atingiu o número máximo de colaboradores ativos no seu plano. Para adicionar outro, desative um colaborador ou fale com o nosso suporte.\')`}}},else:{steps:{run:{outputType:'text',action:`criar_modal_colaborador.show()`}}}}})">Adicionar</button>
    </div>
</div>

<!-- Tabela de Colaboradores -->
<div class="sp-container">
    <table class="table" id="pb0">
        <thead>
            <tr>
                <th class="pt-0 mt-0">Nome completo</th>
                <th class="pt-0 mt-0">Nome tratamento</th>
                <th class="pt-0 mt-0">E-mail</th>
                <th class="pt-0 mt-0">Função</th>
                <th class="pt-0 mt-0">Status</th>
            </tr>
        </thead>
        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="listagem_usuarios.data.query_colaboradores" id="tableRepeat2">
            <tr>
                <td dmx-on:click="run({condition:{outputType:'boolean',if:`status_usuario=='Ativo'`,then:{steps:{run:{outputType:'text',action:`data_detail_colaborador.select(id_usuario);editar_modal_colaborador.show()`}}},else:{steps:{run:{outputType:'text',action:`alertas.warning('Para reativar um colaborador é preciso abrir um suporte!')`}}}}})">
                    <i class="far fa-edit me-2 text-link-primary"></i>
                    <span dmx-text="nome_completo" class="text-link-primary"></span>
                </td>
                <td dmx-text="nome_tratamento"></td>
                <td dmx-text="email"></td>
                <td dmx-text="cargo_usuario_empresa"></td>
                <td dmx-text="status_usuario"></td>
            </tr>
        </tbody>
    </table>
</div>