<!-- Wappler include head-page="layouts/backoffice" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="colaboradores" appConnect="local" components="{dmxBootstrap5Modal:{},dmxValidator:{},dmxBootstrap5TableGenerator:{}}" -->
<dmx-serverconnect id="listagem_usuarios" url="/api/negocios/colaboradores/listar_colaboradores"></dmx-serverconnect>
<meta name="ac:route" content="/security/backoffice/colaboradores">
<div class="modal" id="criar_modal_colaborador" is="dmx-bs5-modal" tabindex="-1" data-bs-theme="dark" nocloseonclick="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content sp-container border-0">
            <div class="modal-header border-bottom border-secondary">
                <h5 class="modal-title text-white">Novo Colaborador</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" dmx-on:click="criar_usuario.reset()"></button>
            </div>
            <div class="modal-body text-white">
                <form id="criar_usuario" is="dmx-serverconnect-form" method="post" action="/api/negocios/colaboradores/criar-colaborador" dmx-on:error="alertas.danger('Ocorreu um erro.')" dmx-on:success="listagem_usuarios.load({});criar_modal_colaborador.hide();criar_usuario.reset()">
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-3"> <label for="nome_completo" class="form-label">Nome completo</label>
                                <input type="text" class="form-control" id="nome_completo" name="nome_completo" aria-describedby="input2_help" required="" data-msg-required="Este é um campo obrigatório!">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3"> <label for="nome_tratamento" class="form-label">Nome de tratamento</label>
                                <input type="text" class="form-control" id="nome_tratamento" name="nome_tratamento" aria-describedby="input2_help1" required="" data-msg-required="Este é um campo obrigatório!">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-3"> <label for="email_usuario" class="form-label">E-mail</label>
                                <input type="email" class="form-control" id="email_usuario" name="email_usuario" aria-describedby="input2_help2" required="" data-msg-required="Este é um campo obrigatório!" data-rule-email="" data-msg-email="Insira um e-mail válido.">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3"> <label for="input5" class="form-label">Função</label>
                                <select id="funcao_usuario" class="form-select" name="funcao_usuario" required="" data-msg-required="Este é um campo obrigatório!">
                                    <option value="">Selecione uma opção</option>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Editor">Editor</option>
                                    <option value="Suporte">Suporte</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" id="id_empresa_atual" name="id_empresa_atual" aria-describedby="input1_help" placeholder="Enter some text" dmx-bind:value="meuusuario.data.dados_usuario.ref_id_empresa_ativa">
                    <div class="form-group mb-3"> <button id="btn3" class="btn btn-primary" type="submit">Cadastrar</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-row align-items-center justify-content-between mb-4">
    <div class="d-flex flex-column justify-content-start align-items-start">
        <h5 class="m-0 fw-bolder">Colaboradores</h5>
        <p class="sub-titulo mt-1 mb-0">Gestão de contas e acessos</p>
    </div>
    <div class="d-flex align-items-center">
        <button id="btn1" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#criar_modal_colaborador">Adicionar</button>
    </div>
</div>
<div class="d-flex sp-container">
    <table class="table table-dark mb-0 align-middle" style="--bs-table-bg: transparent;">
        <thead>
            <tr>
                <th class="py-3 titulo-tabela">Nome completo</th>
                <th class="py-3 titulo-tabela">Nome tratamento</th>
                <th class="py-3 titulo-tabela">Email</th>
                <th class="py-3 titulo-tabela">Tipo usuario</th>
            </tr>
        </thead>
        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="listagem_usuarios.data.query_colaboradores" id="tableRepeat1">
            <tr style="color: #9a9cae">
                <td dmx-text="nome_completo" class="py-3 fs-7 text-primary"></td>
                <td dmx-text="nome_tratamento" class="py-3 fs-7"></td>
                <td dmx-text="email" class="py-3 fs-7"></td>
                <td dmx-text="tipo_usuario" class="py-3 fs-7"></td>
            </tr>
        </tbody>
    </table>
</div>