<!-- Wappler include head-page="layouts/backoffice" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="unidadespolos" appConnect="local" -->
<div class="d-flex flex-row justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <h1 class="display-6 m-0">Gestão de unidades</h1>
    </div>
    <div class="d-flex align-items-center">
        <button id="btn1" class="btn btn-primary">Adicionar</button>
    </div>
</div>
<meta name="ac:route" content="/security/backoffice/unidades-polos">